/*
 * @Author: Lancer
 * @Date:
 * @Last Modified by:   Lancer
 * @Last Modified time: 
 */

.ztree li {
  margin-top: 10px;
}

.ztree * {
  font-size: 14px;
  font-weight: 400;
}

.left #left_nav {
  overflow-y: scroll;
  overflow-x: scroll;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

ul.base {
  /*width: 65%;*/
}


.layui-row {
  .left {
    .left-inner {
      .btn {
        a {
          padding: 0 20px;
        }
      }

      #left_nav {
        padding: 0 30px;
      }
    }
  }

  .right {
    padding: 5px;

    .right-inner {
      border: 1px solid #ddd;
      padding: 20px;
    }
  }

}